<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>Prestamo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/Styles/styles.css}">

    <link rel="icon" href="/images/favicon.ico">
</head>

<header th:fragment="header">
    <div class="nav-left">
    <div class="logo">BolsaEmpleo</div>

        <div class="nav-links">
            <a href="#">Dashboard</a>
            <a href="#">Mis puestos</a>
            <a href="#">Publicar puesto</a>
        </div>
    </div>

    <div class="nav-right">
        <span th:text="${#authentication.name}"></span>
        <button class="btn-logout">Salir</button>
    </div>
</header>

<body>
    <h1>Candidatos</h1>

    <div class="container">
        <h3>Juan Pérez</h3>
        <p>Habilidad: Java - Nivel 4</p>
        <a href="#">Ver Detalle</a>
    </div>

    <a href="#" id="volver">volver</a>
</body>


<footer th:fragment="footer">
    <div>
        <b>Bolsa de Empleo</b><br>
        Total Soft Inc.
    </div>

    <div>
        Contacto: info@bolsaempleo.local
    </div>

</footer>
</html>