<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/Styles/styles.css">

    <link rel="icon" href="/images/favicon.ico">
</head>

<header>

    <div class="nav-left">
    <div class="logo">BolsaEmpleo</div>

        <div class="nav-links">
            <a th:href="@{/Empresa/dashboard}">Dashboard</a>
            <a th:href="@{/Empresa/puestos}">Mis puestos</a>
            <a th:href="@{/Empresa/publicar}">Publicar puesto</a>
        </div>
    </div>

    <div class="nav-right">
        <span>websoft@tuorg.com</span>
        <button class="btn-logout">Salir</button>
    </div>

</header>
<body>

<div class="container">

    <div class="title">Empresa - Dashboard</div>

    <div class="subtitle">
        Desde aquí podés administrar tus puestos y buscar candidatos.
    </div>

    <button class="btn">Ver mis puestos</button>
    <button class="btn">Publicar nuevo puesto</button>

</div>
</body>

<footer>
    <div>
        <b>Bolsa de Empleo</b><br>
        Total Soft Inc.
    </div>

    <div>
        Contacto: info@bolsaempleo.local
    </div>

</footer>


</html>
