<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Prestamo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/Styles/styles.css">

    <link rel="icon" href="/images/favicon.ico">
</head>

<header>
    <div class="nav-left">
    <div class="logo">BolsaEmpleo</div>

        <div class="nav-links">
            <a href="#">Dashboard</a>
            <a href="#">Mis puestos</a>
            <a href="#">Publicar puesto</a>
        </div>
    </div>

    <div class="nav-right">
        <span>websoft@tuorg.com</span>
        <button class="btn-logout">Salir</button>
    </div>
</header>

<body>
    <h1>Mis Puestos</h1>

    <table border="1">
        <tr>
            <th>Descripción</th>
            <th>Salario</th>
            <th>Acciones</th>
        </tr>

        <tr>
            <td>Desarrollador Web</td>
            <td>$1000</td>
            <td>
                <a href="#" id="buscar">Buscar candidatos</a>
                <a href="#" id="desactivar">Desactivar</a>
            </td>
        </tr>
    </table>
</body>

<footer>
    <div>
        <b>Bolsa de Empleo</b><br>
        Total Soft Inc.
    </div>

    <div>
        Contacto: info@bolsaempleo.local
    </div>

</footer>
</html>