<!DOCTYPE html>
<html>
<head th:fragment="head">
    <title>Prestamo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/Styles/styles.css">

    <link rel="icon" href="/images/favicon.ico">
</head>

<header th:fragment="header">
    <div class="nav-left">
    <div class="logo">BolsaEmpleo</div>

        <div class="nav-links">
            <a href="#">Dashboard</a>
            <a href="#">Mis puestos</a>
            <a href="#">Publicar puesto</a>
        </div>
    </div>

    <div class="nav-right">
        <span>websoft@tuorg.com</span>
        <button class="btn-logout">Salir</button>
    </div>
</header>

<body>
    <h1>Características</h1>

    <a href="/admin/caracteristicas/nueva">Agregar</a>

    <ul>
        <li>Lenguajes de Programación
            <ul>
                <li>Java</li>
                <li>C#</li>
            </ul>
        </li>
    </ul>
</body>

<footer th:fragment="footer">
    <div>
        <b>Bolsa de Empleo</b><br>
        Total Soft Inc.
    </div>

    <div>
        Contacto: info@bolsaempleo.local
    </div>

</footer>

</html>