<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Prestamo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="../../static/Styles/styles.css">
</head>

<header>

    <div class="nav-left">
    <div class="logo">BolsaEmpleo</div>

        <div class="nav-links">
            <a th:href="@{/Administrador/dashboard}">Dashboard</a>
            <a th:href="@{/Administrador/empresas}">Empresas pendientes</a>
            <a th:href="@{/Administrador/oferentes}">Oferentes pendientes</a>
            <a th:href="@{/Administrador/caracteristicas}">Características</a>
            <a th:href="@{/Administrador/reportes}">Reportes</a>
        </div>
    </div>

    <div class="nav-right">
        <span th:text="${#authentication.name}"></span>
        <button class="btn-logout">Salir</button>
    </div>

</header>
<body>

<div class="container">

    <div class="title">Empresa - Dashboard</div>

    <div class="subtitle">
        Aprobaciones, catalogo de caracteristicas y reportes
    </div>

    <button class="btn">empresas pendientes</button>
    <button class="btn">oferentes pendientes</button>
    <button class="btn">caracteristicas</button>
    <button class="btn">reportes</button>


</div>
</body>

<footer>
    <div>
        <b>Bolsa de Empleo</b><br>
        Total Soft Inc.
    </div>

    <div>
        Contacto: info@bolsaempleo.local
    </div>

</footer>


</html>
