<!DOCTYPE html>
<html>
<head th:fragment="head">
    <title>Prestamo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="styles.css">

    <link rel="icon" href="/images/favicon.ico">
</head>

<header th:fragment="header">
    <div class="nav-left">
    <div class="logo">BolsaEmpleo</div>

        <div class="nav-links">
            <a href="#">Dashboard</a>
            <a href="#">Mis puestos</a>
            <a href="#">Publicar puesto</a>
        </div>
    </div>

    <div class="nav-right">
        <span>websoft@tuorg.com</span>
        <button class="btn-logout">Salir</button>
    </div>
</header>

<body>
    <h1>Mis Habilidades</h1>

    <div class="habilidades">
        <div>
            <span>Java - Nivel 4</span>
            <button>Eliminar</button>
        </div>
        <div>
            <span>Python - Nivel 3</span>
            <button>Eliminar</button>
        </div>

    <div class="ruta">
        <button id="btn">raices</button>

        <p>subcategoria</p>

        <div >
            <h1>subcategoria</h1>
        </div>

    </div>

    <form method="post" action="/oferente/habilidades" class="ingresar">
        <label>Habilidad:</label>
        <input type="text" name="habilidad">

        <label>Nivel:</label>
        <input type="number" name="nivel" min="1" max="5">

        <button type="submit">Agregar</button>
    </form>
</body>


<footer th:fragment="footer">
    <div>
        <b>Bolsa de Empleo</b><br>
        Total Soft Inc.
    </div>

    <div>
        Contacto: info@bolsaempleo.local
    </div>

</footer>
</html>