<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bolsa de Empleo</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/Styles/styles.css}">
</head>
<body>
<header>
    <div class="nav-left">
        <div class="logo">BolsaEmpleo</div>
        <div class="nav-links">
            <a th:href="@{/puestos/buscar}">Buscar puestos</a>
            <a th:href="@{/registro/empresa}">Registro Empresa</a>
            <a th:href="@{/registro/oferente}">Registro Oferente</a>
        </div>
    </div>
    <div class="nav-right">
        <a th:href="@{/login}">Login</a>
    </div>
</header>

<main>
    <div class="container">
        <div class="title">Bolsa de Empleo</div>
        <div class="subtitle">Últimos 5 puestos públicos</div>

        <div th:each="puesto : ${puestos}" class="puestos">
            <h3 th:text="${puesto.empresa.nombre}">Empresa</h3>
            <p th:text="${puesto.descripcionGeneral}">Descripción</p>
            <p>&#8364; <span th:text="${puesto.salarioOfrecido}">0.00</span></p>
            <a th:href="@{/puestos/detalle/{id}(id=${puesto.id})}" class="btn">Ver detalle</a>
        </div>
    </div>
</main>

<footer>
    <div><b>Bolsa de Empleo</b><br>Total Soft Inc.</div>
    <div>Contacto: info@bolsaempleo.local</div>
</footer>
</body>
</html></html>